.navbar {
  width: 100%;
  height: 100px;
  display: flex;
}

.navbar__logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar__logo h1 {
  font-size: 40px;
  text-decoration: 2px underline #262c78;
  color: white;
  font-family: "Montserrat";
}

.navbar__items {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.items__link {
  margin-left: 5%;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.items__link:hover {
  color: #262c78;
  transition: 0.2s ease;
  cursor: pointer;
}
