<div class="settings">
    <div class="settings__change-currency">
        <p>Default currency</p>
        <div class="settings__dropdown">
            <button class="dropdown__button">EUR<div class="button__arrow"></div></button>
            <div class="dropdown__content">
              <a href="#">BAM</a>
              <a href="#">USD</a>
              <a href="#">RSD</a>
            </div>
        </div>
    </div>
    <div class="settings__delete-all-data">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, id cumque! Odit debitis quae voluptatibus pariatur possimus, exercitationem amet nihil obcaecati inventore ipsam aut sunt architecto? Necessitatibus possimus maiores cumque.</p>
        <a href="#" class="delete-all-data__btn">Delete all data</a>
    </div>
    <div class="settings__exchange-rate-updated"><b>Exchange rate updated:</b> 13.08.2024</div>
</div>
