<div class="settings">
  <div class="settings__change-currency">
    <p>Default currency</p>
    <div class="settings__dropdown">
      <button class="dropdown__button">
        {{ defaultAccount.currencyCode }}
        <div class="button__arrow"></div>
      </button>
      <div class="dropdown__content">
        <ng-container *ngFor="let currency of currencies | keyvalue">
          <a
            href="javascript:void(0)"
            (click)="changeDefaultCurrency(currency.key.toString())"
          >
            {{ currency.value }}
          </a>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="settings__delete-all-data">
    <p>
      Deleting all your data will permanently remove all your information,
      including transactions, settings, and other saved data. This action is
      irreversible, and the data <span>cannot be recovered</span>.
    </p>
    <a
      href="javascript:void(0)"
      class="delete-all-data__btn"
      (click)="deleteAllData()"
      >Delete all data</a
    >
  </div>
  <div class="settings__exchange-rate-updated">
    <b>Exchange rate updated:</b> {{ exchangeRateChanged }}
  </div>
  <div
    class="settings__delete-all-data-confirmation"
    *ngIf="deleteAllDataBtnClicked"
  >
    <h1>Are you sure ?</h1>
    <p>You will not be able to recover data.</p>
    <div class="delete-all-data-confirmation__btn-container">
      <a
        href="javascript:void(0)"
        class="btn-container__btn-cancel"
        (click)="cancelDeleteAllDataClicked()"
        >Cancel</a
      >
      <a
        href="javascript:void(0)"
        class="btn-container__btn-accept"
        (click)="confirmDeletingData()"
        >Confirm</a
      >
    </div>
  </div>
</div>
