<div class="transactions">
    <div class="transactions__dropdown">
        <button class="dropdown__btn">All accounts<div class="dropdown__arrow"></div></button>
        <div class="dropdown__content">
          <a href="#">Account 1</a>
          <a href="#">Account 2</a>
          <a href="#">Account 3</a>
        </div>
    </div>
    <div class="transactions__container">
        <div class="container__item">
            <div class="item__left-block">
                <p class="left-block__account">Account 1</p>
                <p class="left-block__description"><b>Description:</b> Lorem ipsum dolor</p>
                <p class="left-block__expense"><b>Expense: </b>TRANSFER</p>
                <p class="left-block__processed-at"><b>Date:</b> 12.03.2023 <b>Time:</b> 15:23:56</p>
            </div>
            <div class="item__right-block">
                <p>-12 EUR</p>
                <img src="assets/arrow-down.svg"/>
            </div>
        </div>
        <div class="container__item">
            <div class="item__left-block">
                <p class="left-block__account">Account 2</p>
                <p class="left-block__description"><b>Description:</b> Lorem ipsum dolor et neke</p>
                <p class="left-block__expense"><b>Expense: </b>FOOD</p>
                <p class="left-block__processed-at"><b>Date:</b> 08.08.2024 <b>Time:</b> 16:33:16</p>
            </div>
            <div class="item__right-block">
                <p>245 BAM</p>
                <img src="assets/arrow-up.svg"/>
            </div>
        </div>
        <div class="container__item">
            <div class="item__left-block">
                <p class="left-block__account">Account 1</p>
                <p class="left-block__description"><b>Description:</b> Lorem ipsum dolor</p>
                <p class="left-block__expense"><b>Expense: </b>HOUSING</p>
                <p class="left-block__processed-at"><b>Date:</b> 12.03.2023 <b>Time:</b> 15:23:56</p>
            </div>
            <div class="item__right-block">
                <p>-12 EUR</p>
                <img src="assets/arrow-down.svg"/>
            </div>
        </div>
    </div>
</div>