<div class="transactions">
    <div class="transactions__dropdown">
        <button class="dropdown__btn">{{dropdownText}}<div class="dropdown__arrow"></div></button>
        <div class="dropdown__content">
            <a (click)="getAllTransactions()" *ngIf="accountHolder">All accounts</a>
            <a *ngFor="let account of accounts" (click)="getAllTransactionsForAccount(account.id)">{{account.name}}</a>
        </div>
    </div>
    <div class="transactions__container">
        <div class="container__item" *ngFor="let transaction of transactions">
            <div class="item__left-block">
                <p class="left-block__account">{{transaction.accountName}}</p>
                <p class="left-block__description"><b>Description:</b> {{transaction.description}}</p>
                <p class="left-block__expense"><b>Expense: </b>{{transaction.expense}}</p>
                <p class="left-block__processed-at"><b>Date:</b> {{transaction.processedAt.substring(0, 10)}} <b>Time:</b> {{transaction.processedAt.substring(11, 16)}}</p>
            </div>
            <div class="item__right-block">
                <div class="right-block__container">
                    <p>{{transaction.defaultAmount.toFixed(2)}}&nbsp;{{transaction.defaultCurrencyCode}}</p>
                    <img src="assets/arrow-down.svg" *ngIf="transaction.amount < 0" />
                    <img src="assets/arrow-up.svg" *ngIf="transaction.amount > 0" />
                </div>
                <p class="right-block__smaller-text" *ngIf="transaction.currencyCode !== transaction.defaultCurrencyCode">
                    {{transaction.amount.toFixed(2)}}&nbsp;{{transaction.currencyCode}}
                </p>
            </div>
        </div>
    </div>
</div>