.footer {
  width: 80%;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__button {
  border-radius: 10px;
  background-color: #262c78;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
}

.footer__button:hover {
  background-color: #262c78d2;
  color: white;
  transition: 0.2s ease;
}

.footer h1 {
  font-size: 18px;
}

.form__type-balance-container {
  display: flex;
}

.footer p {
  text-align: center;
  width: 100%;
}
